<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
	<defaultProxy>
		<proxy
		  usesystemdefault="True"
		  proxyaddress="http://191.96.60.224:45785"
		  bypassonlocal="True"
      />
		<bypasslist>
			<add address="[a-z]+\@mail\.ru$" />
		</bypasslist>
	</defaultProxy>
</system.net>
</configuration>